
<div class="wrapper">
  <header class="my_sidebar">

    <h1>Andrew C. W. Myers</h1
    <p></p>

    <p style="color:#9e221b;font-weight:bold">Ph.D. Student, Stanford University</p>


<div class="center"><img src="/images/MyersFull.jpg" height="200" width="200" /></div>

    <p></p>
    <p>I am a second year Ph.D. student and the E. K. Potter Stanford Graduate Fellow in Political Science at Stanford University. My research leverages causal inference and machine learning to understand how election systems can be designed to reduce polarization, enhance accountability, and restore faith in elections. 
  </p>

        <hr width="75%">


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="one-row centered">
      <div class="is-inset-8"><a target="_blank" href="https://github.com/AndyMyersSkol" style="color:#9e221b" class="is-icon"><i class="fa fa-github fa-2x"></i></a></div>
      <div class="is-inset-8"><a target="_blank" href="https://www.linkedin.com/in/andrewcwmyers/" style="color:#9e221b" class="is-icon"><i class="fa fa-linkedin-square fa-2x"></i></a></div>
      <div class="is-inset-8"><a target="_blank" href="mailto: myersa@stanford.edu" style="color:#9e221b" class="is-icon"><i class="fa fa-envelope fa-2x"></i></a></div>
    </div>
    <p></p>

  </header>
</div>