<meta charset="utf-8">

<!-- minimal-mistakes -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!-- From Shiro -->
<link rel="stylesheet" href="/stylesheets/styles.css">

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/images/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

