---
layout: default
title: Andrew C. W. Myers
description: XX
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
		
<center>
<h1> Johnson Family Outhouse Rebuild </h1>
<h2> Design Central </h2>

<p3> Click <a href="/documents/outhouse_blueprints_v1.pdf" target="_blank">here</a> for complete blueprints. </p3>

<hr>
<p3> Click on images below to engage interactive viewer.</p3>
<br><br>

<h3> Sketch </h3>


<iframe src="https://3dwarehouse.sketchup.com/embed/4dfe7b3c-e0da-49a1-a763-722f1ae1fb3e" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="1000" height="525" allowfullscreen></iframe>


<hr>







<h3> Exterior Design </h3>



<iframe src="https://3dwarehouse.sketchup.com/embed/3652a597-ba5b-4d0c-9a9d-81727559116d" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="1000" height="525" allowfullscreen></iframe>


<hr>

<h3> Framing Plans </h3>



<iframe src="https://3dwarehouse.sketchup.com/embed/1f748276-46cf-4718-b892-765a39936ab5" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="1000" height="525" allowfullscreen></iframe>



</center>

<hr>

<ul>

Specifications:
  <li>Dimensions: Same as original concrete base </li>
  <li>Height: 7' 6" in front, 6' 5" in back </li>
  <li>Roof slope: 13/64 pitch</li>
  <li>Ground breaking date: TBD (likely July/August) </li>

</ul>

<br>

</center>




						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:3 %}
                {% assign mod3 = forloop.index | modulo: 3 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
  									</ul>
  								</article>
                  {% if mod3 == 0 %}
                  <article>
  									<header>
  										<h2><a href="#">Sponsored</a></h2>
  									</header>

  								</article>
                  {% endif %}
                {% endfor %}

							</section>

						<!-- Footer -->
							
