<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
<title>{{ page.title }}</title>

<center><h1>Andrew C. W. Myers</h1><hr width="25%"></center>

<body style="background-color: #c772d4; /* For browsers that do not support gradients */
  background-image: linear-gradient(90deg, purple, white,yellow);">
<head>
  {% include head.html %}
</head>

<body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">


  {{ content }}

</body>

</html>